body{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 72px;
    background: -webkit-linear-gradient(#1607c0,#49a9f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    letter-spacing: 3px;
}
#image{
    display: block;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.user{
    text-align: center;
}
#userName{
    font-size: 30px;
    font-family: 'Kalam', cursive;
}
#user{
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
#titel{
    border: 3px double #901481;
    background-color: rgba(223, 12, 12, 0.7);
    display: block;
    margin: 0px 30% 0px 30%;
    border-radius: 10px;
}
.next{
    background-color: #cacfc8;
  	color: black;
  	border: 2px solid #636363;
  	border-radius: 10px;
  	text-align: center;
  	font-size: 20px;
	padding: 5px 10px;
	transition-duration: 0.4s;
    font-family: 'Indie Flower', cursive;
	font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
}
.next:hover{
    background-color: #381b39bf;
    color: white;
    border-color: #cacfc8;
}
.movie{
    width: 50%;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.pokemon{
    width: 50%;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.titel{
    font-size: 32px;
    font-weight: 600;
}
.check{
    font-size: 24px;
}
.checkCat{
    font-size: 24px;
}
#checked{
    background-color: #cacfc8;
  	color: black;
  	border: 2px solid #636363;
  	border-radius: 10px;
  	text-align: center;
  	font-size: 20px;
	padding: 5px 10px;
	transition-duration: 0.4s;
    font-family: 'Indie Flower', cursive;
	font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
}
#checked:hover{
    background-color: #381b39bf;
    color: white;
    border-color: #cacfc8;
}
.cat{
    margin: auto;
    text-align: center;
}
fieldset{
    background-color: #dbdbdb99;
    margin-left: 20%;
    margin-right: 20%;
}
.exit{
    background-color: #cacfc8;
  	color: black;
  	border: 2px solid #636363;
  	border-radius: 10px;
  	text-align: center;
  	font-size: 20px;
	padding: 20px;
	transition-duration: 0.4s;
    font-family: 'Indie Flower', cursive;
	font-weight: bold;
    text-align: center;
    position: fixed;
}
.exit:hover{
    background-color: #381b39bf;
    color: white;
    border-color: #cacfc8;
}
.reload{
    background-color: #cacfc8;
  	color: black;
  	border: 2px solid #636363;
  	border-radius: 10px;
  	text-align: center;
  	font-size: 20px;
	padding: 20px;
	transition-duration: 0.4s;
    font-family: 'Indie Flower', cursive;
	font-weight: bold;
    text-align: center;
}
.reload:hover{
    background-color: #381b39bf;
    color: white;
    border-color: #cacfc8;
}
#score,#score1,#score2{
    margin-top: 10%;
    text-align: center;
}
